.intro {
  position: relative;
  background-image: url("../../assets/images/Dot-Pattern.png"),
    url("../../assets/images/yellow-ellipse.png");
  background-repeat: no-repeat;
  background-position: 73px -21px, 700px 313px;
  padding-bottom: 200px;
}
